<div id="lang-select">
	<div class="lang-box" *ngFor="let lang of langMetadata">
		<img src="{{'./assets/img/' + lang.flagImgName}}">
		<label *ngIf="langCode === lang.code">선택됨</label>
		<button type="button" (click)="setLangCode(lang.code)" [disabled]="langCode === lang.code">{{lang.name}}</button>
	</div>
	<!-- <div class="lang-box">
		<img src="../assets/img/United_States.png">
		<label *ngIf="langCode === 'en'">선택됨</label>
		<button type="button" (click)="setLangCode('en')" [disabled]="langCode === 'en'">영어</button>
	</div>
	<div class="lang-box">
		<img src="../assets/img/France.png">
		<label *ngIf="langCode === 'fr'">선택됨</label>
		<button type="button" (click)="setLangCode('fr')" [disabled]="langCode === 'fr'">프랑스어</button>
	</div>
	<div class="lang-box">
		<img src="../assets/img/Japan.png">
		<label *ngIf="langCode === 'jp'">선택됨</label>
		<button type="button" (click)="setLangCode('jp')" [disabled]="langCode === 'jp'">일어</button>
	</div>
	<div class="lang-box">
		<img src="../assets/img/China.png">
		<label *ngIf="langCode === 'ch'">선택됨</label>
		<button type="button" (click)="setLangCode('ch')" [disabled]="langCode === 'ch'">중국어</button>
	</div> -->
</div>